Header {
    background-image: linear-gradient(to right, #070211 0%, #07021100 100%), url('resources/Banner\ Image.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 1320px;
    border-radius: 16px;
    margin-top: 45px;
    margin-left: 15px;
}

.banner {
    padding: 23px 344px 177px 344px;
}

.header-title1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-title2 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
}

/* 65% off section */

.section1{
    margin: 100px 505px 100px 280px;
    align-items: center;
    margin-top: 100px;
}

.section65 {
    padding: 0px 100px 40px 160px;
    max-width: 420px;
}

.newpic {
    margin-top: 50px;
    width: 800px;
    height: 500px;
}

#a {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#b {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5px;
}

#c {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
}

/* Section part 2 */

.section2 {
    background-image: linear-gradient(to right, #070211 0%, #07021100 100%), url('resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 600px;
    width: 1320px;
    border-radius: 12px;
    margin-left: 100px;
    margin-right: 120px;
}

.section2-part2 {
    padding: 65px 135px 68px 0px;
}

.title {
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding: 126px 90px 0px 126px;
    margin-bottom: 20px;
}

.description {
    margin-top: 0px;
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 0px 90px 0px 126px;
    margin-bottom: 45px;
}

li {
    margin-top: 0px;
    list-style: none;
    padding: 0px 600px 150px 150px;
}

a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 620;
}

/* Section part 3 */

.section3 {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    width: 1320px;
    height: 482px;
    margin-left: 15px;
    margin-right: 15px;
}

.ps3 {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.btn-s3 {
    color: #FFF;
    font-weight: 800;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
}

/* section part 4 */

.section4 {
    display: flex;
    width: 1320px;
    height: 482px;
    margin-left: 15px;
    margin-right: 15px;
}

.offer {
    margin: auto;
    max-width: 350px;
}

.circle {
    background-image: url('resources/Ellipse\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px #F00 solid;
    margin: auto;
}

.offer2 {
    margin: auto;
    max-width: 225px;
}

#d {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0px;
}

#e {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 0px;
}

#f {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: 0px;
}

#g {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0px;
}

#h {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: 0px;
}

/* section 5 style */

.section5{
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 140px;
    background-image: url('resources/Rectangle\ 2.png'),url('resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 890px;
    background-position: bottom, right;
}

.section5-part1{
    text-align: center;
    padding: 0px 125px 65px 125px;
    line-height: 20px;
}

.section5-part1 h3 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.section5-part1 h1 {
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
}

.section5-part1 p {
    width: 1050px;
    color: #07021199;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

/* section 6 style */

.section6 {
    width: 1320px;
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 140px;
}

.section6-part1 h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.section6-part1 h2 {
    margin-top: 0px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.section6-part1 p {
    margin-top: 0px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    max-width: 890px;
}

/* section 7 style */
.section7 {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 140px;
    width: 1320px;
    height: 620px;
}

.section7-part1 {
    padding: 50px 585px 0px 585px;
}

.section7-part2 {
    padding: 0px 212px 40px 212px;
}

.section7-part3 {
    padding: 0px 336px 80px 336px;
}

.section7-part2 h2 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.section7-part2 p {
    max-width: 890px;
    color: #07021199;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    /* line-height: 32px; */
    /* 160% */
}



.section7-part3 input {
    width: 430px;
    height: 70px;

    border: none;
    border-radius: 50px 0px 0px 50px;
    padding-right: 0px;
    /* background: #F00; */

    color: rgba(7, 2, 17, 0.30);

    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;

}

.section7-part3 button {
    width: 210px;
    height: 72px;

    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding-left: 0px;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

/* Footer Section */

footer {
    background: #070211;
    width: 1400px;
    height: 610px;
    flex-shrink: 0;
    margin-top: 120px;
}

.f1 {
    display: flex;
    gap: 730px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding: 50px 0px 0px 50px;
}

.f2 {
    margin-left: 550px;
    padding: 50px 0px 50px 0px;
}
.f2 a{
    margin-right: 25px;
}

.f3 {
    display: flex;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    gap: 900px;
    padding: 50px 10px 0px 50px;
}
hr{
    margin-left: 50px;
    margin-right: 50px;
}